<div class="container">
  <div class="call-to-action">
    <h2 class="text-center text-3xl md:text-5xl">여러분의 참여가 필요합니다.</h2>
    <a href="https://github.com/a11ykr/a11ykr.github.io/issues/new" class="text-center text-lg"> 의견 남겨주세요.</a>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(40deg, var(--primary-100), var(--secondary-200));
    margin-top: 2rem;
    padding: 2rem;
    color: var(--neutral-900);
    h2 {
      margin-bottom: 1rem;
    }
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out;
    border: 3px solid var(--neutral-900);
    border-radius: 3px;
    padding: 1rem;
    color: var(--neutral-900);
    font-weight: bold;
    text-decoration: none;

    &:where(:hover, :focus) {
      background-color: var(--neutral-900);
      color: var(--neutral-100);
      text-decoration: underline;
    }
  }
</style>
