---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} A11YKR - <a href="https://github.com/markteekman">Mark Teekman</a>의 <a href="https://astro.build/">Astro</a>로 만듦
      </p>
    </div>
  </section>
</footer>
