---
import Navigation from '../components/Navigation.astro'
// import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <div class="skip-link">
    <a href="#main-content">본문 바로가기</a>
  </div>
  <Navigation>
    <li class="menu-item">
      <a href="/about/">소개</a>
    </li>
    <li class="menu-item">
      <a href="/stories/">이야기</a>
    </li>
    <li class="menu-item">
      <a href="/docs/" rel="external">문서</a>
    </li>
    <!-- <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">접근성 점검 도구</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/standards/">표준과 지침</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">접근성 점</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Accessible Components</a>
        </li>
      </ul>
    </li> -->
    <li class="menu-item type-icon">
      <a href="https://github.com/a11ykr" title="깃헙 페이지">
        <Icon name="ion:logo-github" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://discord.gg/9ZXYJWDjWR" title="디스코드 커뷰니티">
        <Icon name="ion:logo-discord" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
  :where(.skip-link a) {
    position: absolute;
    z-index: 9999;
    transition: inset-block-start 0.2s ease-in-out;
    inset-block-start: -100vh;
    inset-inline-start: 0;
    border-end-end-radius: 0.5rem;
    background: light-dark(hsl(0 0% 100%), hsl(215 25% 15%));
    padding-inline: 3.25rem;
    padding-block: 1rem;
    color: light-dark(hsl(215 25% 27%), hsl(215 25% 89%));
  }

  @media (prefers-reduced-motion: reduce) {
    :where(.skip-link a) {
      transition: none;
    }
  }

  :where(.skip-link a:hover),
  :where(.skip-link a:focus-visible) {
    inset-block-start: 0;
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }
</style>
