---
import { Pagination } from 'accessible-astro-components'

interface Props {
  firstPage?: string
  previousPage?: string
  nextPage?: string
  lastPage?: string
  currentPage: number
  totalPages: number
}

const props = Astro.props
---

<div class="korean-pagination">
  <Pagination {...props} />
</div>

<style>
  /* 특정 클래스 내에서만 적용되도록 스코프 설정 */
  .korean-pagination :global(.pagination li:nth-child(1) a::after),
  .korean-pagination :global(.pagination li:nth-child(1) span::after) {
    position: absolute;
    content: '처음';
  }

  .korean-pagination :global(.pagination li:nth-child(2) a::after),
  .korean-pagination :global(.pagination li:nth-child(2) span::after) {
    position: absolute;
    content: '이전';
  }

  .korean-pagination :global(.pagination li:nth-child(4) a::after),
  .korean-pagination :global(.pagination li:nth-child(4) span::after) {
    position: absolute;
    content: '다음';
  }

  .korean-pagination :global(.pagination li:nth-child(5) a::after),
  .korean-pagination :global(.pagination li:nth-child(5) span::after) {
    position: absolute;
    content: '마지막';
  }

  /* 원래 텍스트 숨기기 */
  .korean-pagination :global(.pagination li:nth-child(1) a),
  .korean-pagination :global(.pagination li:nth-child(1) span),
  .korean-pagination :global(.pagination li:nth-child(2) a),
  .korean-pagination :global(.pagination li:nth-child(2) span),
  .korean-pagination :global(.pagination li:nth-child(4) a),
  .korean-pagination :global(.pagination li:nth-child(4) span),
  .korean-pagination :global(.pagination li:nth-child(5) a),
  .korean-pagination :global(.pagination li:nth-child(5) span) {
    position: relative;
    color: transparent;
  }

  .korean-pagination :global(.pagination li:nth-child(1) a::after),
  .korean-pagination :global(.pagination li:nth-child(1) span::after),
  .korean-pagination :global(.pagination li:nth-child(2) a::after),
  .korean-pagination :global(.pagination li:nth-child(2) span::after),
  .korean-pagination :global(.pagination li:nth-child(4) a::after),
  .korean-pagination :global(.pagination li:nth-child(4) span::after),
  .korean-pagination :global(.pagination li:nth-child(5) a::after),
  .korean-pagination :global(.pagination li:nth-child(5) span::after) {
    color: var(--action-color, #4c1d95);
  }

  .korean-pagination :global(.pagination li [aria-disabled='true']::after) {
    color: var(--action-color-disabled, #9ca3af) !important;
  }
</style>